# Игнорируем node_modules
node_modules/

# Игнорируем build-сборки
build/

# Игнорируем файлы, связанные с редакторами
.idea/
.vscode/

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем файлы, связанные с операционной системой
.DS_Store
Thumbs.db