@use "../libs/variables" as *;

.questions {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $main-milk-white;

    .question {
        &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9 {
            display: flex;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s all ease-in-out;

            &__left {
                position: relative;
                width: 50%;
                background-color: $main-violet;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .question {
                    font-weight: 500;
                    font-size: 64px;
                    color: $text-color-white;
                    width: 496px;
                    line-height: 121%;

                    &__prev, &__go-back {
                        top: unset;
                        position: absolute;
                        bottom: 32px;
                        left: 35px;
                        font-family: 'Open Sans';
                        font-weight: 600;
                        font-size: 16px;
                        color: $text-color-white;
                        background-color: transparent;
                        border: none;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        svg {
                            margin-right: 15px;
                        }
                    }
                }
            }

            &__right {
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .question {
                    &__next-style {
                        z-index: 1;
                        border-radius: 16px;
                        width: 496px;
                        height: 105px;
                        background: $text-color-white;
                        margin-bottom: 20px;
                        border: 2px solid $text-color-white;
                        transition: 0.3s all ease-in-out;
                        padding: 40px;
                        padding-left: 38px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-family: 'Open Sans';
                        font-weight: 600;
                        font-size: 18px;
                        color: $text-color-dark;
                        text-align: left;

                        &:hover {
                            border: 2px solid #8172dd;
                        }
                    }
                }
            }

            &__counter {
                position: absolute;
                top: 40px;
                right: 35px;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 30px;
                color: $text-color-dark;
            }

            &__animations {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &__animation {
                &-1, &-2, &-3 {
                    position: absolute;
                }
            }
        }

        &-1, &-9 {

            &__form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 157px;
            }

            &__label {
                position: relative;
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 18px;
                color: rgba($text-color-dark, 0.5);
                z-index: 1;
            }

            &__input {
                margin-top: 15px;
                border-radius: 16px;
                width: 496px;
                height: 105px;
                background: $text-color-white;
                position: relative;

                input {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 18px;
                    color: $text-color-dark;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 16px;
                    padding: 40px;

                    &:focus {
                        outline: none;
                    }
                }

                .question {
                    &__next {
                        margin-top: 3px;
                        position: absolute;
                        width: 69px;
                        height: 69px;
                        border: none;
                        border-radius: 100%;
                        background-color: $main-orange;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }


            &__animation {
                &-1 {
                    top: 116px;
                    left: 46px;
                    animation: rotate 5s linear infinite;
                    transform-origin: center calc(50% - 20px);
                    z-index: 0;
                }

                &-2 {
                    bottom: 120px;
                    right: 10px;
                }

                &-3 {
                    bottom: -3px;
                    right: 232px;
                }
            }
        }

        &-2 {

            &__button {
                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }

            &__animation {
                &-1 {
                    top: 108px;
                    left: 73px;
                    animation: rotate 5s linear infinite;
                    transform-origin: top left;
                }

                &-2 {
                    bottom: 130px;
                    right: 98px;
                    animation: scale 5s linear infinite;
                    transform-origin: center center;
                }
            }
        }

        &-3 {
            &__btns {
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-top: 185px;
                z-index: 1;

                .question {
                    &__next-style {
                        padding-top: 35px;
                        line-height: 130%;

                        &:nth-child(3) {
                            margin-bottom: 23px;
                        }
                    }
                }
            }

            &__button {
                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }

            &__animation {
                &-1 {
                    top: 106px;
                    right: 135px;
                    animation: rotate 5s linear infinite;
                    transform-origin: bottom left;
                }

                &-2 {
                    bottom: -4px;
                    left: 90px;
                    animation: scale 5s linear infinite;
                    transform-origin: center left;
                    z-index: 0;
                }
            }
        }

        &-4 {
            &__button {
                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }

            &__animation {
                &-1 {
                    top: 0px;
                    right: 116px;
                    animation: rotate 5s linear infinite;
                    transform-origin: right calc(50% - 70px);
                }

                &-2 {
                    bottom: 108px;
                    left: 103px;
                    animation: scale 5s linear infinite;
                    transform-origin: bottom left;
                }
            }
        }

        &-5 {
            &__button {
                &:nth-child(3) {
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    padding-left: 42px;
                }
            }

            &__animation {
                &-1 {
                    top: 128px;
                    left: 75px;
                    animation: rotate 5s linear infinite;
                    transform-origin: top left;
                }

                &-2 {
                    bottom: 140px;
                    right: 0px;
                    animation: scale 5s linear infinite;
                    transform-origin: center right;
                }
            }
        }

        &-6 {
            &__button {
                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }

            &__animation {
                &-1 {
                    bottom: 60px;
                    left: 50px;
                    animation: rotate 5s linear infinite;
                    transform-origin: top right;
                }

                &-2 {
                    top: 161px;
                    right: 114px;
                    animation: rotate 5s linear infinite;
                    transform-origin: center calc(30% - 30px);
                }
            }
        }

        &-7 {
            &__button {
                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }

            &__animation {
                &-1 {
                    top: 103px;
                    right: 0px;
                    animation: rotate 5s linear infinite;
                    transform-origin: top right;
                }

                &-2 {
                    bottom: 74px;
                    left: 103px;
                    animation: scale 5s linear infinite;
                    transform-origin: center center;
                }
            }
        }

        &-8 {
            &__btns {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                gap: 20px;
                flex-direction: row;

                .question__next-style {
                    width: 330px;
                    height: 105px;
                    margin-bottom: 0;
                }
            }

            &__button {
                &:nth-child(3), &:nth-child(6) {
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(3) {
                    order: 5;
                    padding-top: 36px;
                }

                &:nth-child(4) {
                    order: 2;
                    padding-left: 40px;
                    padding-top: 38px;
                }

                &:nth-child(5) {
                    order: 4;
                    padding-top: 38px;
                }

                &:nth-child(6) {
                    order: 6;
                }
            }

            &__animation {
                &-1 {
                    top: 145px;
                    left: 39px;
                    animation: rotate 5s linear infinite;
                    transform-origin: top left;
                }

                &-2 {
                    bottom: 47px;
                    right: 58px;
                    animation: scale 5s linear infinite;
                    transform-origin: center center;
                }
            }
        }

    }

    .show-height {
        opacity: 1;
        visibility: visible;
    }
}