<section class="p-pack">
    <div class="container">
        <div class="p-pack__wrapper">
            <h2 class="p-pack__title">Your Personalized Pack</h2>
            <div class="p-pack__slider">
                <div class="p-pack__cards">
                    <div class="p-pack__card">
                        <picture class="p-pack__picture">
                            <source srcset="/src/img/p-pack-card.avif"
                                type="image/avif">
                            <img src="/src/img/p-pack-card.png"
                                alt="card">
                        </picture>
                        <div class="p-pack__type">Vitamins & Dietary Supplements</div>
                        <div class="p-pack__name">Ortho Molecular Products Orthomega 820</div>
                        <div class="p-pack__price">$61.98</div>
                    </div>


                </div>
            </div>
            <a href="#"
                class="p-pack__link">Continue</a>
        </div>
    </div>
    <div class="p-pack__animations">
        <div class="p-pack__animation-1">
            <svg width="122"
                height="122"
                viewBox="0 0 122 122"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="61"
                    cy="61"
                    r="61"
                    fill="#FFCA78" />
            </svg>
        </div>
    </div>
</section>