<section class="questions">
    <div class="question-1 question show-height">
        <div class="question-1__left">
            <div class="question-1__question question">What’s your first name?</div>
            <button class="question-1__button question__go-back">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-1__right">
            <form class="question-1__form">
                <label for="question-1__input" class="question-1__label">First
                    Name</label>
                <div class="question-1__input">
                    <input type="text" id="question-1__input" required>
                    <button class="question-1__button question__next" type="submit">
                        <svg width="9"
                             height="16"
                             viewBox="0 0 9 16"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M1.46376 15.6855L9.53674e-07 14.2405L6.07249 8.24606L0 2.25159L1.46376 0.806641L9 8.24606L1.46376 15.6855Z"
                                  fill="white" />
                        </svg>
                    </button>
                </div>
            </form>
            <div class="question-1__counter">1/9</div>
            <div class="question-1__animations">
                <div class="question-1__animation-1">
                    <svg width="156"
                         height="156"
                         viewBox="0 0 156 156"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="78" cy="78" r="78" fill="#F7906E" />
                    </svg>
                </div>
                <div class="question-1__animation-2">
                    <svg width="223"
                         height="183"
                         viewBox="0 0 223 183"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M194 1.1993e-05C194 85.0519 124.996 154 39.8753 154L-2.0355e-05 154"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-1__animation-3">
                    <svg width="183"
                         height="182"
                         viewBox="0 0 183 182"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M29 182C29 97.5004 97.9481 29 183 29"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-2 question">
        <div class="question-2__left">
            <div class="question-2__question question">Do you smoke?</div>
            <button class="question-2__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-2__right">
            <button class="question-2__button question__next-style question__next">Yes
            </button>
            <button class="question-2__button question__next-style question__next">No
            </button>
            <div class="question-2__counter question__cou question__next-stylenter">2/9
            </div>
            <div class="question-2__animations">
                <div class="question-2__animation-1">
                    <svg width="160"
                         height="160"
                         viewBox="0 0 160 160"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M131 2.75517e-05C131 72.3493 72.3493 131 -2.55994e-05 131"
                              stroke="#F6906E"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-2__animation-2">
                    <svg width="85"
                         height="85"
                         viewBox="0 0 85 85"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="42.5" cy="42.5" r="42.5" fill="#FFCA78" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-3 question">
        <div class="question-3__left">
            <div class="question-3__question question">What is your eating habits?</div>
            <button class="question-3__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-3__right">
            <div class="question-3__btns">
                <button class="question-3__button question__next-style question__next">
                    Vegan
                    diet
                </button>
                <button class="question-3__button question__next-style question__next">
                    Vegetarian diet
                </button>
                <button class="question-3__button question__next-style question__next">My
                    diet
                    is generally healthy and includes animal protein, fish and veggies
                </button>
                <button class="question-3__button question__next-style question__next">My
                    diet
                    includes fast food and soft drinks
                </button>
            </div>

            <div class="question-3__counter">3/9</div>
            <div class="question-3__animations">
                <div class="question-3__animation-1">
                    <svg width="155"
                         height="155"
                         viewBox="0 0 155 155"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="77.5" cy="77.5" r="77.5" fill="#F6906E" />
                    </svg>
                </div>
                <div class="question-3__animation-2">
                    <svg width="210"
                         height="264"
                         viewBox="0 0 210 264"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.0146e-05 29C99.9636 29 181 109.589 181 209C181 308.411 99.9635 389 -1.3262e-06 389"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-4 question">
        <div class="question-4__left">
            <div class="question-4__question question">How frequently do you consume
                alcoholic beverages?
            </div>
            <button class="question-4__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-4__right">
            <button class="question-4__button question__next-style question__next">≤ 3
                times per week
            </button>
            <button class="question-4__button question__next-style question__next">4 - 7
                times per week
            </button>
            <button class="question-4__button question__next-style question__next">7+
                times per week
            </button>
            <div class="question-4__counter">4/9</div>
            <div class="question-4__animations">
                <div class="question-4__animation-1">
                    <svg width="210"
                         height="275"
                         viewBox="0 0 210 275"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M210 246C110.037 246 29 165.411 29 66C29 -33.4113 110.036 -114 210 -114"
                              stroke="#F6906E"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-4__animation-2">
                    <svg width="177"
                         height="177"
                         viewBox="0 0 177 177"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="88.5" cy="88.5" r="88.5" fill="#FFCA78" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-5 question">
        <div class="question-5__left">
            <div class="question-5__question question">How frequently do you have cold/flu
                symptoms?
            </div>
            <button class="question-5__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-5__right">
            <button class="question-5__button question__next-style question__next">≤ 2 per
                year
            </button>
            <button class="question-5__button question__next-style question__next">3 - 5
                times per year
            </button>
            <button class="question-5__button question__next-style question__next">5+
                times per week
            </button>
            <div class="question-5__counter">5/9</div>
            <div class="question-5__animations">
                <div class="question-5__animation-1">
                    <svg width="200"
                         height="200"
                         viewBox="0 0 200 200"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M171 1.36275e-05C171 94.4407 94.4407 171 -1.85116e-05 171"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-5__animation-2">
                    <svg width="111"
                         height="308"
                         viewBox="0 0 111 308"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="154" cy="154" r="154" fill="#F6906E" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-6 question">
        <div class="question-6__left">
            <div class="question-6__question question">Describe your stress level</div>
            <button class="question-6__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-6__right">
            <button class="question-6__button question__next-style question__next">I feel
                calm and relaxed most of the time
            </button>
            <button class="question-6__button question__next-style question__next">I get
                nerevous from time to time
            </button>
            <button class="question-6__button question__next-style question__next">I’m
                under a lot of stress most of the time
            </button>
            <div class="question-6__counter">6/9</div>
            <div class="question-6__animations">
                <div class="question-6__animation-1">
                    <svg width="160"
                         height="160"
                         viewBox="0 0 160 160"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M160 131C87.6507 131 29 72.3493 29 -2.55994e-05"
                              stroke="#F6906E"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-6__animation-2">
                    <svg width="154"
                         height="154"
                         viewBox="0 0 154 154"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="77" cy="77" r="77" fill="#FFCA78" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-7 question">
        <div class="question-7__left">
            <div class="question-7__question question">Have you ever been diagnosted with
                high blood glucose level?
            </div>
            <button class="question-7__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-7__right">
            <button class="question-7__button question__next-style question__next">Yes
            </button>
            <button class="question-7__button question__next-style question__next">No
            </button>
            <div class="question-7__counter">7/9</div>
            <div class="question-7__animations">
                <div class="question-7__animation-1">
                    <svg width="212"
                         height="210"
                         viewBox="0 0 212 210"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M389 -1.70623e-05C389 99.9635 308.411 181 209 181C109.589 181 29 99.9635 29 -1.3262e-06"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-7__animation-2">
                    <svg width="113"
                         height="113"
                         viewBox="0 0 113 113"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="56.5" cy="56.5" r="56.5" fill="#F6906E" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-8 question">
        <div class="question-8__left">
            <div class="question-8__question question">Tell us what you want to focus on
            </div>
            <button class="question-8__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-8__right">
            <div class="question-8__btns">
                <button class="question-8__button question__next-style question__next">
                    Weight
                    managment
                </button>
                <button class="question-8__button question__next-style question__next">
                    Immune
                    boost
                </button>
                <button class="question-8__button question__next-style question__next">I
                    need
                    a bassic kit for a daily intake
                </button>
                <button class="question-8__button question__next-style question__next">
                    Stress
                    relief
                </button>
                <button class="question-8__button question__next-style question__next">
                    Need to
                    solve a sprcific problem
                </button>
                <button class="question-8__button question__next-style question__next">All
                    in
                    one
                </button>
            </div>

            <div class="question-8__counter">8/9</div>
            <div class="question-8__animations">
                <div class="question-8__animation-1">
                    <svg width="171"
                         height="171"
                         viewBox="0 0 171 171"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M142 9.8533e-06C142 78.4244 78.4244 142 -1.79237e-05 142"
                              stroke="#F6906E"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-8__animation-2">
                    <svg width="148"
                         height="148"
                         viewBox="0 0 148 148"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="74" cy="74" r="74" fill="#FFCA78" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-9 question">
        <div class="question-9__left">
            <div class="question-9__question question">What’s your email address?</div>
            <button class="question-9__button-prev question__prev">
                <svg width="9"
                     height="15"
                     viewBox="0 0 9 15"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.53624 15L9 13.5433L2.92751 7.5L9 1.45672L7.53624 0L0 7.5L7.53624 15Z"
                          fill="white" />
                </svg>
                Back
            </button>
        </div>
        <div class="question-9__right">
            <form class="question-9__form">
                <label for="question-9__input" class="question-9__label">Email</label>
                <div class="question-9__input">
                    <input type="text" id="question-9__input" required>
                    <button class="question-9__button question__next" type="submit">
                        <svg width="9"
                             height="16"
                             viewBox="0 0 9 16"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M1.46376 15.6855L9.53674e-07 14.2405L6.07249 8.24606L0 2.25159L1.46376 0.806641L9 8.24606L1.46376 15.6855Z"
                                  fill="white" />
                        </svg>
                    </button>
                </div>
            </form>

            <div class="question-9__counter">9/9</div>
            <div class="question-9__animations">
                <div class="question-9__animation-1">
                    <svg width="156"
                         height="156"
                         viewBox="0 0 156 156"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="78" cy="78" r="78" fill="#F7906E" />
                    </svg>
                </div>
                <div class="question-9__animation-2">
                    <svg width="223"
                         height="183"
                         viewBox="0 0 223 183"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M194 1.1993e-05C194 85.0519 124.996 154 39.8753 154L-2.0355e-05 154"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
                <div class="question-9__animation-3">
                    <svg width="183"
                         height="182"
                         viewBox="0 0 183 182"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M29 182C29 97.5004 97.9481 29 183 29"
                              stroke="#FFCA78"
                              stroke-width="58" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>